name: beam_vm_example
description: Demonstrates how to use the beam_vm plugin.
publish_to: 'none'

environment:
  sdk: ">=3.8.0 <4.0.0"
  flutter: '>=3.10.0'

resolution: workspace

dependencies:
  flutter:
    sdk: flutter
  beam_vm: ^1.0.0
  cupertino_icons: ^1.0.8

dev_dependencies:
  integration_test:
    sdk: flutter
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
